includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app
        - bootstrap
        - config
        - public
        - routes
    level: 6
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false