
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Cyber
@import "cyber";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.register {
  .form-group {
    div {
      padding-left: 0;
    }
  }
}

.btn-xs {
  line-height: 6px;
}

.navbar-right {
  float: right;
}

.alert {
  display: none;
}